*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    box-sizing: border-box;
}
/* body{
    background: black;
    color: white; */

.header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/img.png);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;

}
nav{
   display: flex; 
   align-items: center;
   justify-content: space-between;
    padding-left: 47px;
    padding-top: 9px;

}
.logo{
    cursor: pointer ;
}
nav button {
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 20px;
    cursor: pointer;
}
.language-button{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid #fff;
    padding: 7px 10px;
}
.language-button img{
    margin: 5px;
}
.header-content{
    color: #fff;
    font-size: 23px;
    padding-top: 230px ;
}
.email-signup input{
    padding: 15px 50px;
    border-radius: 5px;
    outline: 0;
    background: transparent;
    border-color: #fff;
    border-width: 1px;
    color: #fff;
    font-size: large;
    
}
.submit-button{
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
    /* margin-left: 20px; */
    padding: 15px 30px;
    cursor: pointer;
}
span{
    background-color: transparent ;
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index:-1;
    transition: 1s;
}
footer{
    color: #fff;
    background-color: black;
}




